.mainPage {
  height: 100%;
  margin: 1rem;
  color: #fff;
  display: flex;
  flex-direction: column;
  flex-direction: column;
  gap: 2rem;
}

.topHome {
  display: flex;
  gap: 1rem;
}

.middleHome {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

@media (max-width: 1200px) {
  .topHome {
    flex-wrap: wrap;
  }

  .middleHome {
    flex-direction: column;
  }
}
