.mainPage {
  height: 100%;
  margin: 1rem;
  color: #fff;
}

.topHome {
  display: flex;
  gap: 1rem;
}

.netWorth {
  width: 25%;
}

.netWorth,
.goal {
  display: flex;
}

.netWorth div,
.goal div {
  flex: 1;
}

.netWorth div {
  background-color: #e74a45;
  font-weight: bold;
  font-size: 1rem;
}

.goal {
  width: 75%;
}

.progressBar {
  display: flex;
  gap: 1rem;
  align-items: center;
}

.progressBar p {
  font-weight: bold;
  color: #008000;
}

@media (max-width: 1200px) {
  .topHome {
    flex-wrap: wrap;
  }

  .netWorth {
    width: 100%;
  }

  .goal {
    width: 100%;
  }

  .netWorth div,
  .goal div {
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
}
